# {{ ansible_managed }}

[Unit]
Description=Nginx UI - Yet another WebUI for Nginx
Documentation=https://nginxui.com
After=network.target nginx.service
Wants=nginx.service

[Service]
Type=simple
User={{ nginx_ui_user }}
Group={{ nginx_ui_group }}
WorkingDirectory={{ nginx_ui_config_dir }}
ExecStart={{ nginx_ui_install_dir }}/nginx-ui -config {{ nginx_ui_config_dir }}/app.ini
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
